/* 김동현 2022.10.01 - 기본 구조 배치 */

/* wrapper area */
.wrapper {
  margin-left: 33vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 67vw;
  height: 100vh;
  background-color: bisque;
}

.test {
  text-align: right;
}