/* 2022.10.08 - 반응형 작업 */
@value fBasic from '../../common/font.css';
@value sMedium, sSmall from '../../common/size.css';
@value cdBlue, cGreen, cYellow, cWhite, cGrey from '../../common/color.css';

.item {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: cWhite;
  border-radius: 1rem;
}

/* img */
.plantImgWrap {
  position: relative;
  width: 100%;
  height: 17vw;
  border-radius: 1rem;
  overflow: hidden;
  background-color: cdBlue;
  background: cWhite;
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,69,82,1) 80%);
}
.plantImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  transition: opacity 100ms ease-in;
}

.plantImg:hover {
  opacity: .8;
}
.plantInfo {
  position: absolute;
  bottom: 1.3rem;
  right: 1.5rem;
  font-family: inherit;
  color: cWhite;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  word-break: keep-all;
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.3rem 1.3rem;
  border: none;
  transition: bottom 100ms ease-in;
}
.active {
  bottom: -2.5rem;
}

.plantInfo span:first-child {
  margin-right: 0.3rem;
  padding-top: 0.3rem;
}
.plantInfo span:last-child {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  line-height: 1.5;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid cWhite;
  border-radius: 50%;
}

/* info */
.rightSide {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0 0;
}

.editNickNameForm {
  position: relative;
  margin-bottom: 0.6rem;
}

.editNickNameForm input {
  width: 100%;
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 5rem 0 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid cGrey;
}
.editNickNameForm input:focus {
  outline: 2px solid cGreen;
}
.editNickNameForm button {
  position: absolute;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 1.6rem;
  color: cGrey;
}
.editButton {
  top: 1rem;
  right: 2.9rem;
}
.editButton:hover {
  color: cGreen;
}
.cancleButton {
  top: 0.7rem;
  right: 1rem;
}
.cancleButton:hover {
  color: cYellow;
}

.nickNameArea {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nickNameArea button {
  all: unset;
  margin-left: 0.5rem;
  color: cGrey;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 150ms ease-in;
}

.nickNameArea button:hover {
  color: cGreen;
}

.plantNickName {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  word-break: keep-all;
}

.warteringBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: cGreen;
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 1.2rem;
  margin: 1.5rem 0;
}

.warteringBtn span {
  margin-right: 0.5rem;
}

.wateringDate {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid cGrey;
  padding-top: 1.5rem;
}

.wateringDate {
  width: 100%;
}
.wateringDate p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.wateringDate input {
  border: none;
  font-family: fBasic;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  width: 90%;
}
.wateringDate input:focus {
  outline: none;
  border-bottom: 2px solid cGreen;
}

.wateringDate input::-webkit-calendar-picker-indicator {
  opacity: 0.3;
}

.stopBtn {
  padding: 0.5rem;
  background: cGrey;
  opacity: .5;
  transition: all 150ms ease-in;
  margin: 0;
}

.stopBtn:hover {
  opacity: 1;
  background: cYellow;
}

.deleteBtn {
  all: unset;
  text-align: center;
  font-size: 1.15rem;
  margin-top: 0.7rem;
  color: cGreen;
  opacity: .6;
}
.deleteBtn:hover {
  opacity: 1;
}

@media screen and (max-width: 90rem) {
  .item {
    width: 40%;
  }
  .plantImgWrap {
    height: 21vw;
  }
}
@media screen and (max-width: 75rem) {
  .item {
    width: 70%;
  }
  .plantImgWrap {
    height: 36vw;
  }
}
@media screen and (max-width: sSmall) {
  .item {
    width: 90%;
  }
  .plantImgWrap {
    height: 70vw;
  }
}