/* 2022.10.08 - 반응형 작업 */
@value fBasic from '../../common/font.css';
@value sMedium, sSmall from '../../common/size.css';
@value cdBlue, cGreen, cYellow, cWhite, clGrey from '../../common/color.css';

/* wrapper */
.wrapper {
  margin-left: 33vw;
  font-family: fBasic;
}
.title {
  font-size: 2rem;
  padding-bottom: 3rem;
  padding: 3rem 2rem;
}
.title span {
  font-weight: bold;
}

.container {
  min-height: 100vh;
  background-color: clGrey;
}

.contents {
  display: flex;
  padding: 0 1.5rem;
}

.contents ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: sSmall) {
  .wrapper {
    margin-left: 0;
    padding-top: 6.5rem;
  }
}