/* 김수영 2022.10.08 - 반응형 작업 */
@value fBasic from '../../common/font.css';
@value sMedium, sSmall from '../../common/size.css';
@value cdBlue, cGreen, cYellow, cWhite, cGrey from '../../common/color.css';

/* wrapper area */
.wrapper {
  position: fixed;
  font-family: fBasic;
}

.container {
  position: relative;
  overflow-y: scroll;
  width: 33vw;
  height: 100vh;
  background: url('../../../public/image/bg.jpg') no-repeat center/cover;
  padding: 5rem;
}

.container::-webkit-scrollbar {
  display: none;
}

/* logo */
.logoArea {
  display: flex;
  justify-content: center;
}

.logo {
  display: inline-block;
  width: 15rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.container h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.topInfo,
.middleInfo,
.bottomInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.middleBtn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.backBtn {
  all: unset;
  position: absolute;
  top: 4rem;
  font-size: 3rem;
  color: cGreen;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.backBtn:hover {
  transform: translateX(-0.5rem);
}

@media screen and (max-width: sSmall) {
  .wrapper {
    position: relative;
  }
  .container {
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 8.5rem;
  }
  .logoArea {
    display: none;
  }
  .backBtn {
    position: fixed;
    top: 1.8rem;
    z-index: 9999;
  }
  .recommendBtn {
    display: block;
    background: cdBlue;
    margin: 0;
    margin-top: 3rem;
    padding: 2rem;
    font-size: 2rem;
    transition: background 150ms ease-in;
  }
  .recommendBtn:hover {
    background: cGreen;
  }
}