/* 김수영 2022.10.08 - 반응형 작업 */
@value fBasic from '../../common/font.css';
@value sMedium, sSmall from '../../common/size.css';
@value cdBlue, cGreen, cYellow, cWhite, cGrey from '../../common/color.css';

/* wrapper area */
.wrapper {
  position: fixed;
  font-family: fBasic;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33vw;
  height: 100vh;
  padding: 5rem;
  background: url("../../../public/image/bg.jpg") no-repeat center/cover;
}

/* logo */
.logoArea {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.logo {
  display: inline-block;
  width: 18rem;
  font-size: 2rem;
}
.gnbBtn {
  display: none;
}

/* user info */
.userInfoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  padding-bottom: 3rem;
}

/* search plant */
.searchPlantForm {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
}

.searchPlantForm input[type="search"] {
  width: 100%;
  padding: 1.5rem;
  padding-left: 2rem;
  font-family: fBasic;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
}
.searchPlantForm input[type="search"]::placeholder {
  color: cGrey;
}
.searchPlantForm input[type="search"]:focus {
  outline: 2px solid cGreen;
}
.searchPlantForm input[type="submit"] {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  font-family: fBasic;
  font-size: 2.2em;
  color: cdBlue;
  border: none;
  background: cWhite;
  transform: rotate(180deg) translateY(50%);
}
.searchPlantForm input[type="submit"]:hover {
  color: cGreen;
}

/* menu */
.menuArea {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  /* flex-direction: column; */
}

.menuArea button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin: 0;
  border: 1.5px solid cGreen;
  color: cGreen;
  background: rgba(255, 255, 255, .3);
  transition: all 100ms ease-in;
  font-size: 2.5rem;
}


.menuArea button span {
  font-size: 1.2rem;
}
.menuArea button span:nth-child(2) {
  margin-top: 0.8rem;
}

.menuArea button:hover {
  color: cWhite;
  background: cGreen;
}

/* logout */
.logoutArea {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 1rem;
}

.logoutArea button {
  all: unset;
  cursor: pointer;
  color: cdBlue;
  transition: color 150ms ease-in;
}

.logoutArea button:hover {
  color: cGreen;
}

@media screen and (max-width: sSmall) {
  .container {
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 6.5rem;
    padding: 0;
    background: url("../../../public/image/bg.jpg") no-repeat center/cover;
  }

  .logoArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5rem;
  }

  .logo {
    width: 8rem;
  }
  .gnbBtn {
    display: block;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    color: cdBlue;
    font-size: 3rem;
    z-index: 9999;
    cursor: pointer;
  }

  .gnbArea {
    margin-top: 6.5rem;
    width: 100%;
    padding: 0;
    height: 0;
    overflow: hidden;
    z-index: 999;
    transition: height 150ms ease-in;
  }
  
  .gnbActive {
    height: 100vh;
  }
  
  .gnbTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 30rem;
    background: rgba(46, 69, 82, 0.5);
    backdrop-filter: blur(5px);
  }
  .gnbBottom {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: #000;
  }
  .closeGnb {
    display: none;
  }

  .userInfoArea {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid cWhite;
    /* color: cWhite; */
    background: rgba(255,255,255,.3);
  }
  .userInfoArea p {
    margin-right: 1rem;
  }
  .searchPlantForm {
    margin-bottom: 1rem;
    position: relative;
    width: 35rem;
  }
  .menuArea {
    flex-direction: row;
    margin: 0.5rem 0 1rem;
  }
  .menuArea button {
    border: 1.5px solid cWhite;
    width: 11rem;
    height: 9rem;
    border-radius: 3rem;
    color: cWhite;
    background: rgba(255, 255, 255, .1);
  }

  .logoutArea button {
    color: cdBlue;
    font-weight: bold;
  }
  .logoutArea button:hover {
    color: cWhite;
  }
}
