/* 2022.10.05 - 스타일링 작업 */
@value fBasic from '../../common/font.css';
@value cdBlue, cGreen, cYellow, cWhite, cGrey from '../../common/color.css';

.recommend {
  position: relative;
  width: 100%;
}
.emoji {
  position: absolute;
  left: 3rem;
}
.checkbox {
  /* display: none; */
}
.recommend label {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  font-family: fBasic;
  font-size: 1.3rem;
  padding: 1.5rem 0;
  background: cWhite;
  border-radius: 3rem;
}

input[type="radio"]:checked + label {
  background: cGreen;
}
