.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contents {
  position: relative;
  display: flex;
  width: 80%;
  height: 80%;
  background-color: #fff;
}

.imgArea {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.mainImg {
  width: 100%;
  height: 70%;
}

.subImgArea {
  width: 100%;
  height: 30%;
}

.subImg {
  width: 25%;
  height: 50%;
}

.infoArea {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

.detailInfo {
  display: flex;
}